body {
    background-color: #cad6e2;
    font-family: 'poppins', 'tajawal', sans-serif;
    font-size: 30px;
    text-align: left;
}


nav {
    background-color: rgb(188, 200, 184);
    text-align: center;
    

}

nav a {

    text-decoration: none;


}

nav a:hover {
    color: black;
    text-decoration: underline;
}
 hr{
               background-color: rgb(189, 187, 191);
                height: 4px; 
        }

.header{
            text-align: center;
            background-color:#4696ad;
            border-style:dotted;
        }